/* Basic CSS for the navigation bar */

*{
    margin: 0;
    padding: 2px;
    /* box-sizing: border-box;*/
}
nav {
    background-color: #424141;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
  }

.btnSearchClear {
    background-color: white;
    display: flex;
    text-decoration-color: #4CAF50;
    padding: 0.5%;
    border-radius: 20px;
}

.logo {
    text-decoration: wavy;
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
nav img {
    width: 60px;
    border-radius: 100%;
}
  
  nav ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: underline;
    color: white;
    font-weight: bold;
  }
  
  /* Basic CSS for the form elements */
  body {
    font-family: Arial, sans-serif;
    background:
        linear-gradient(to right, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1.0)),
        url("./background_img.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /* margin: 20px; */
  }
  
/*.title_content{
    width: 100px;
}*/
h1 {
    font-variant: small-caps;
    color: white;
    width: 300px;
    margin-bottom: 20px;
    margin-top: 50px;
    border-style: solid;
    border-width: 2px;
    border-color: red;
}

.introduction {
    color: white;
    width: 500px;
    padding: 1%;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: red;
    border-radius: 20px;
}
  
  /*div {
    margin-bottom: 10px;
  }*/
  
  label {
    display: inline-block;
    width: 100px;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 200px;
    padding: 5px;
  }
  
  button {
    padding: 7px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
    color: blue;
  }
  
  /* Basic CSS for the report section */
  h2 {
    margin-top: 30px;
  }
  
  #report,#result {
    padding: 10px;
    max-width: 400px;
    word-wrap: break-word;
  }
#result{
  height: 400px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
#result img{
    width: 200px;
    height: 100px;
}
  