/* Basic CSS for the navigation bar */

*{
    margin: 0;
    padding: 2px;
    /* box-sizing: border-box;*/
}
nav {
    background-color: #424141;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
  }

.btnSearchClear {
    background-color: white;
    display: flex;
    text-decoration-color: #4CAF50;
    padding: 0.5%;
    border-radius: 20px;
}

.logo {
    text-decoration: wavy;
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
nav img {
    width: 60px;
    border-radius: 100%;
}
  
  nav ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: underline;
    color: white;
    font-weight: bold;
  }
  
  /* Basic CSS for the form elements */
  body {
    font-family: Arial, sans-serif;
    color: white;
    background:
        linear-gradient(to left, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.8)),
        url("./srcs/images/background_img.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /* margin: 20px; */
  }

/* Basic CSS for the container content */
.container {
    display: flex;
    margin-top: 1%;
}
#contact-container {
    padding-left: 10px;
}


/* Basic CSS for the vertical sidebars */
.sidebar {
    display: flex;
    width: 5%;
    align-items: right;
    justify-content: center;
}
/*#about-sidebar {
    width: 5%;
}
#contact-sidebar {
    width: 4%;
    margin-top: 1%;
}*/
.sidebar img {
    width: 90%;
    padding-right: 5px
}
#socialhandles {
    border-right: 1pt solid;
    padding-right: 5px;
}



/* Basic CSS for divisions of the main contents */
.maincontent {
    padding: 1%;
}
#home-content {
    width: 50%;
    /*display: flex;*/
    padding: 1%;
}
#about-content {
    width: 100%;
}
#contact-content {
    width: 80%;
    margin-left: 10px;
}
  
h1 {
    font-variant: small-caps;
    width: 300px;
    margin-bottom: 20px;
    margin-top: 50px;
    /*border-style: solid;
    border-width: 2px;
    border-color: red;*/
}
#contact-content h1, 
.ourTeam h1 {
    margin-top: auto;
}

  
div {
    margin-bottom: 10px;
  }

.ourTeam, #contact-content {
    padding: 5px;
    display: flex;
    align-items: top;
    /*justify-content: center;*/ 
}
.teamRoles {
    width: 80%;
    /*padding: 5px;*/
    display: flex;
    align-items: top;
    justify-content: space-evenly; 
}
#teamText {
    font-variant: normal;
    font-size: 40px;
    width: 10%;
    text-align: left;
}
.ceo, .teamLead, .deliveryHead  {
    display: flex;
    width: 30%;
    align-items: top;
    /*justify-content: space-between;*/
    padding-bottom: 5px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.teamRoles img {
    width: 80px;
    /*padding: 5px;*/
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.teamRoles p {
    padding-bottom: 5%;
}
  
.teamRoles label {
    display: inline-block;
    width: 90%;
    text-align: center;
    background-color: rgb(36, 36, 155);
    border: 1px solid;
    border-color: white;
    border-radius: 5px;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .contact-form {
      padding-left: 2%;
  }
  .introduction a {
    color: white;
    font-weight: bold;
  }
  

  button {
    padding: 7px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
    color: blue;
  }

  .contact-form button {
    display: inline-block;
    text-align: center;
    margin-right: 0;
  }
  
.contact-form input, 
.contact-form textarea, 
.contact-form button {
    width: 98%;
}
.contact-title {
    width: 30%;
}
  
.searchResult{
  width: 40%;
  display: flex;
  padding: 2%;
  align-items: left;
  justify-content: space-evenly;
  flex-direction: column;
}
#searchResult img{
    width: 100%;
}
/*#searchResult p {
    padding: 1%;
}*/
  